* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #346;
    padding: 30px;
    color: white;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}

a {
    color: white;
}

#window {
    position: relative;
    margin: auto;
}

#window.cloaked {
    opacity: 0;
}

#title {
    position: absolute;
    font-size: 11px;
    top: 5px;
    left: 7px;
    height: 22px;
}

#terminal {
    border: 3px solid transparent;
    border-top: 22px solid transparent;
    border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGYAAABYCAYAAAAHr4K/AAABoElEQVR4nO3ZQW6CQBhAYbiRtyMkrMbES3gYKON5vEAX01Vboy2CcZgnPpJvMQmJOC8/SqhijCmz84Xcn7UZVYwxZT7OFzxmHCGE3zBODMdNmKoKKswwUIaBMgzUZJi63qe63he/yHdkGKi7tzLjGEaG4Zv1r+w7joEM8/ZmP8cYxjBaEkaGkWG4DANlGKg/w2Tiq+WFDANlGCjDQBkGaq0wyhjm8x/Fv8QWGQbKMFCGgTIMlGGgDANlGCjDQPnkD2UYKMNAZQszDMOkpedNnV96E18qjB7X931q29YwNIaBMgyUYaAMA2UYKMNAGQbKMFCGgTIMlGGgDANlGKjMYcaV19vhxEA9Pcw4jmn9Sdne5GQJczqdVld6I18szMfVBuZbl97IHJ76zt+JQYcZrjZu6fqeeLMuvYkvEsaJgYfJPTmGeTCMEwML428MLkyJaXFiZBgZBsswUIaBMgyUYaAMA2UYKMNAGQbKMFCGgTIMlGGgDANlGCjDQBkG6idMCKG4w+EwqfT1ra1qmiYdj8fUNE1RXddNKn19a9rtdukLlpqJT6jW2cIAAAAASUVORK5CYII=') 22 3; /* inline 'ohtge-border.png' */
    padding: 5px;
    background-color: black;
}

.xterm-viewport {
    overflow: hidden !important;
}

#legend {
    margin-top: 10px;
}